[req]
distinguished_name = req_distinguished_name

[req_distinguished_name]
countryName = GB
stateOrProvinceName = England
localityName = LDN
organizationalUnitName = Perun
commonName = {{ ansible_fqdn }}